<template>
  <v-row align="center" justify="center">
    <v-img
      src="../assets/profi.jpg"
      aspect-ratio="1"
      class="grey lighten-2"
      max-width="700"
      max-height="500"
    ></v-img>
  </v-row>
</template>
