<template>
  <v-data-table
    :headers="headers"
    :items="animalList"
    sort-by="calories"
    class="elevation-1"
    :items-per-page="5"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>ZOO-sam</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <div class="flex-grow-1"></div>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="editedItem.type" label="type"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <!--<v-text-field v-model="editedItem.sex" label="sex"></v-text-field>-->
                    <v-select
                      :items="sex"
                      v-model="editedItem.sex"
                      label="sex"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="editedItem.age" label="age"></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        edit
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      Create an animal now!
    </template>
  </v-data-table>
</template>
<script>
export default {
  name: 'list',
  data: () => ({
    sex: ['Female', 'Male'],
    dialog: false,
    headers: [
      {
        text: 'Type',
        align: 'left',
        sortable: false,
        value: 'type'
      },
      { text: 'Sex', value: 'sex' },
      { text: 'Age', value: 'age' },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    editedIndex: -1,
    editedItem: {
      type: '',
      sex: '',
      age: 0
    },
    defaultItem: {
      type: '',
      sex: '',
      age: 0
    }
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Animal' : 'Edit Animal'
    },
    animalList () {
      return this.$store.getters.getAnimal
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  methods: {

    editItem (item) {
      this.editedIndex = this.animalList.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.animalList.indexOf(item)
      confirm('Are you sure you want to delete this animal?') && this.$store.dispatch('delete', index)
    },

    close () {
      this.dialog = false
      this.editedItem = Object.assign({}, this.defaultItem)
      this.editedIndex = -1
    },

    save () {
      if (this.editedIndex > -1) {
        this.$store.dispatch('edit', { item: this.editedItem, index: this.editedIndex })
      } else {
        this.$store.dispatch('add', this.editedItem)
      }
      this.close()
    }
  }
}
</script>
