<template>
  <v-app>
    <router-view/>
    <template>
  <v-bottom-navigation
    v-model="bottomNav"
    fixed="true"
  >
    <v-btn @click="router('/')">
      <span>ZOO</span>
      <v-icon>mdi-home</v-icon>
    </v-btn>

    <v-btn @click="router('/about')">
      <span>About</span>
      <v-icon >mdi-account</v-icon>
    </v-btn>

  </v-bottom-navigation>
</template>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    path: ''
  }),
  methods: {
    router: function (path) {
      this.$router.push(path)
    }
  }
}
</script>
